@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor-regular-webfont.woff2') format('woff2'),
         url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/* LOGIN */

:focus {
	outline: 0;
}

body{
	background-color: #f3f3f3;
	font-family: Arial, Helvetica, sans-serif;
}

#login-container{
	width: 350px;
	margin: 0 auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	top:50%;
	left:50%;
	margin-left:-175px;
	margin-top:-243px;
	position: absolute;
}

#login-header{
	background-color: #F24F11;
	padding: 30px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-ms-border-top-right-radius: 10px;
}

#login-header a
{
	width:155px;
	height:61px;
	display:block;
	text-indent: -9999px;
	background-image: url("../img/TM_logo.png");
	background-image: url('../img/TM_logo.svg'), none;
}

#login-logo{
	width: 40%;
	display: block;
	margin: 0 auto;
}

#login-content{
	padding: 40px 30px;
	background-color: white;
}

#login-content form{
	width: 270px;
	margin: 0 auto;
}

.login-input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height:40px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border: 1px solid #D9D9D9;
	padding: 0px 0px 0px 35px;
	display: block;
	margin-bottom: 25px;
	width:235px;
	color: #656565;
	line-height:20px;
}

form .unummer{
	background-image:url("../img/profile-icon.png");
	background-image: url('../img/profile-icon.svg'), none;
	background-repeat:no-repeat;
	background-position:10px;
	background-size: 17.5px;
}

form .wachtwoord{
	background-image:url("../img/lock-icon.png");
	background-image: url('../img/lock-icon.svg'), none;
	background-repeat:no-repeat;
	background-position:10px;
	background-size: 17.5px;
}

#checkCon
{
	margin-bottom:20px;
}

#checkCon input
{
	font-family: Arial, Helvetica, sans-serif;
	appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #D9D9D9;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	display: inline-block;
	position: relative;
	cursor:pointer;
}

.login-input:focus
{
	border: 1px solid #F24F11;
}

#checkCon input:checked
{
	border: 1px solid #F24F11;
	background-color: #F24F11;
}

#checkCon input:checked:after
{
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 2.5px;
	left: 4px;
	color: #fff;
}

form label
{
	color: #656565;
	font-size: 16px;
	cursor:pointer;
	vertical-align: text-bottom;
}

.login-button
{
	height:40px;
	margin-top: 15px;
	display: block;
	width: 100%;
	background-color: #F8F8F8;
	color:#D9D9D9;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height:20px;
	font-family: 'texgyreadventorregular';
}

.login-button.active
{
	background-color:#F24F11;
	color:#fff;
}

#login-footer{
	height:30px;
	background-color: #E9EFF0;
	text-align: center;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#login-footer a{
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	font-size: 12px;
	line-height:30px;
	display: block;
	text-decoration: none;
}

#login-footer a:hover{
	text-decoration: underline;
}

.login-check{
	margin-right: 10px;
}

p#login-copyright{
	margin-top:7.5px;
}

p#login-copyright,
#login-copyright a{
	color: #999;
	font-size: 10px;
}

/* -------------------------------------- */
/*General*/
#preCon
{
	margin: 0 auto;
	width: 800px;
	margin-top: 65px;
}

#container{
	background-color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	position:relative;
}

header{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-ms-border-top-right-radius: 10px;
	padding-bottom: 35px;
	height:135px;
}

#logo
{
	background-color: #F24F11;
	height: 75px;
	overflow:hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-ms-border-top-right-radius: 10px;
}

#afmelden{
	position:absolute;
	top:0;
	right:0;
	color: white;
	background-color: #da470f;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-moz-border-bottom-left-radius: 3px;
	-ms-border-top-right-radius: 10px;
	-ms-border-bottom-left-radius: 3px;
	font-size: 14px;
	text-decoration: none;
	padding: 1.5px 15.5px;
	font-family: 'texgyreadventorregular';
}

#afmelden a{
	display: block;
}

#logo a{
	width:95px;
	height:37.023px;
	display:block;
	text-indent: -9999px;
	margin-top: 18.9885px;
	background-image: url("../img/TM_logo.png");
	background-image: url('../img/TM_logo.svg'), none;
}

header nav{
	height:59px;
	overflow:hidden;
	border-bottom: 1px solid #FAFAFA;
}

header nav ul{
	width: 100%;
	padding:0;
	margin:0;
	list-style-type: none;
}

body header nav ul li{
	list-style-type: none;
	width: 199px;
	height: 59px;
	float: left;
	background-color: #fff;
	color: #dddbdb;
	overflow:hidden;
	border-left: 1px solid #FAFAFA;
}

header nav ul:first-child
{
	border-left:none;
}

header nav ul li a
{
	text-decoration: none;
	color:#D9D9D9;
	display: block;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top:17.5px;
	margin-left:30px;
}

header nav ul li a span
{
	border: 1px solid #D9D9D9;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%; 
	height:25px;
	width:25px;
	display:inline-block;
	text-align: center;
	line-height:25px;
	margin-right:7.5px;
}

#stap1 header nav ul li#liStap1,
#stap2 header nav ul li#liStap2,
#stap3 header nav ul li#liStap3,
#stap4 header nav ul li#liStap4
{
	border:none;
	background-color:#FAFAFA;
}

#stap1 header nav ul li#liStap1 a,
#stap2 header nav ul li#liStap2 a,
#stap3 header nav ul li#liStap3 a,
#stap4 header nav ul li#liStap4 a
{
	color: #656565;
}

#stap1 header nav ul li#liStap1 a span,
#stap2 header nav ul li#liStap2 a span,
#stap3 header nav ul li#liStap3 a span,
#stap4 header nav ul li#liStap4 a span
{
	border: 1px solid #656565;
}

/*STEP 1*/
#container #content
{
	width: 740px;
	margin:0 auto;
	overflow:hidden;
}

#stap1-col1, 
#stap1-col2{
	float:left;

}

#stap1-col1
{
	width:450px;
}

#stap1-col2
{
	margin-left:40px;
	width:250px;
}

#stap1-col1 h1,
#stap1-col2 h1
{
	font-size: 16px;
	color:#303030;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin:0;
	margin-bottom:15px;
}

#stap1-col2 p
{
	font-size: 14px;
	color:#656565;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 20px;
	margin-top:0px;
}

#stap1-col1 .stap1-choosen
{
	width:100%;
	height:240px;
	background-color:#FAFAFA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	display:block;
}

ul#vorige-volgende
{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	margin-top:40px;
	margin-bottom:40px;
	list-style-type: none;
}

ul#vorige-volgende li
{
	float:right;
	height:30px;
	width:165px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px; 
	background-color: #F24F11;

}

ul#vorige-volgende li a
{
	display:block;
	font-family: 'texgyreadventorregular';
	line-height: 28px;
	text-decoration: none;
	color:#fff;
	font-size: 16px;
	text-align: center;
	position:relative;
}

ul#vorige-volgende li a:after
{
	content:"";
	position: absolute;
	top: 8.5px;
	height:13px;
	width:8px;
}

ul#vorige-volgende li a#right:after
{
	right: 10px;
	background-image: url("../img/arrowRight.png");
	background-image: url('../img/arrowRight.svg'), none;
}

ul#vorige-volgende li a#left:after
{
	left: 10px;
	background-image: url("../img/arrowLeft.png");
	background-image: url('../img/arrowLeft.svg'), none;
}

footer
{
	margin-top:7.5px;
}
/*
#vorige-volgende{
	clear: both;
	display: block;
	list-style: none;
	padding: 0;
	margin-top: 50px;
}

.button-vorigevolgende, 
.button-email{
	background-color: #f04c25;
	border-radius: 3px;
	color: white;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
}

#vorige-volgende li{
	display: inline-block;
}

#vorige-volgende li:first-child{
	float: left;
}

#vorige-volgende li:last-child{
	float: right;
}

.stap2-persoonlijkbericht{
	width: 99%;
	max-width: 99%;
	min-height: 200px;
	border: 1px solid #eeecec;
}

.stap2-characters{
	margin-top: -5px;
}

#emailtoevoegen, 
#emailaanpassen{
	list-style: none;
	padding: 0;
	display: inline-block;
}

#emailtoevoegen{
	float: left;
}

#emailaanpassen{
	float: right;
}

#emailtoevoegen li, 
#emailaanpassen li{
	display: inline-block;
}

#emailaanpassen .button-email{
	background-color: #f9f9f9;
	color: #d5d4d4;
}

#stap3-table{
	clear: both;
	width: 100%;
	display: block;
	margin-top: 70px;
}

#stap3-table th{
	background-color: #f9f9f9;
	font-weight: normal;
	text-align: left;
	color: black;
	padding: 3px 3px 3px 10px;
}

#stap3-table .col1, 
#stap3-table .col2 {
	width: 25%;
}
#stap3-table .col3 {
	width: 50%;
}

#stap3-table td{
	padding: 3px 3px 3px 10px;
}

#content-preview{
	padding-top:55px;
	width: 100%;
}

#preview-vorige-volgende ul, .stap4-card{
	display:block;
	padding:0;
}

#preview-vorige-volgende li{
	display: inline-block;
	list-style: none;
}
.stap4-card{
	list-style: none;
}
.stap4-card li{
	display: inline-block;
	width: 49%;
}

#container-preview{
	clear: both;
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
}

#preview-card li{
	display: inline-block;
	list-style: none;
	width: 49%;
	float: left;
}

#preview-card{
	padding: 0;
}

.stap4-card{
	background-color: #f9f9f9;
	color: transparent;
	min-height: 300px;
}

.stap4-message{
	background-color: white;
	min-height: 300px;
	padding-left: 20px;
}

#bewerken-verzenden{
	display: block;
	clear: both;
	width: 60%;
	margin: 0 auto;
	padding-top: 30px;
}

#bewerken-verzenden ul{
	margin: 0 auto;
	width: 270px;
	padding: 0;

}

#bewerken-verzenden li{
	display: inline-block;
	list-style: none;
}

#preview-footer{
	text-align: center;
}

#preview-header{
	background-color: transparent;
	padding-bottom: 0;
	padding-top: 2%;
}

#logo2 img{
	width:20%;
	display: block;
	margin: 0 auto;
}

.preview-verzonden, .button-nieuwekaart{
	text-align: center;
	margin: 0 auto;
}
.preview-verzonden{
	margin-bottom: 20px;
}

a.button-nieuwekaart{
	display: block;
	margin: 0 auto;
	background-color: #f04c25;
	border-radius: 3px;
	color: white;
	width: 180px;
	text-align: center;
	text-decoration: none;
	padding: 8px 0px 8px 0px;
}*/








































































