@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor-regular-webfont.woff2') format('woff2'),
         url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:focus
{
	outline: 0;
}

html, body 
{
	min-height:100%; 
	padding:0; margin:0; 
	background-color:#F3F3F3; 
	overflow:hidden;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
    -o-user-select: none;
}

#container {position:absolute; top:0; bottom:0; left:0; right:0;}

.flipbox-container 
{
	position:absolute;
	cursor:-webkit-grab;
	cursor:-moz-grab;
	cursor:-ms-grab;
	cursor:-o-grab;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	width:90%;
	left: 5%;
	height:80%;
	margin: -25px auto 0 auto;
	top:10%;
	z-index:10;
}

#cardCon, #backCon
{
	background-color: #FDFDFD;
	height: 100%;
	width:100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	overflow:hidden;
}

#cardCon
{
	background: no-repeat center center fixed;
	background-position: 50% 50%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cardCon:active, .flipbox-container:active
{
	cursor:-webkit-grabbing;
}

#backCon
{
	overflow:auto;
}

#backSec
{
	padding:50px;
}

#backCon h1, #backCon p,  #backCon span
{
	margin:0;
	padding:0;
	color: #656565;
	font-size: 22.5px;
	font-family: Arial, Helvetica, sans-serif;
}

#backCon h1
{
	margin-bottom:40px;
}

#backCon p
{
	line-height:35px;
}

p#senderSig
{
 margin-top:50px;
}

#backCon #copyCon
{
	width:100%;
	background-color:#FDFDFD;
	bottom:0px;
	position:absolute;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
}

#backCon span#copy
{
	font-size:14px;
	text-decoration: none;
	color:#999999;
	margin-left:50px;
}

#backCon span#copy a
{
	text-decoration: none;
	color:#999999;
}

#backCon span#copy a:hover
{
	text-decoration: underline;
}

#nav 
{
	position:fixed;
	bottom:0;
	left:0;
	height:50px;
	width:100%;
	background-color:#FAFAFA;
}

#nav ul
{
	margin:0;
	padding:0;
	width:100%;
	list-style-type: none;
}

#nav ul li
{
	position:absolute;
	top:0px;
}

#nav ul li#left
{left:0;}
#nav ul li#right
{right:0;}
#nav ul li#center
{position:static;text-align: center}

#nav ul li#right,
#nav ul li#left
{
	height:50px;
	background-color: #F24F11;
	width:210px;
	font-family: 'texgyreadventorregular';
}

#nav ul li a
{
	display:block;
	text-decoration: none;
	color:#fff;
	height:50px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	position:relative;
}

ul#vorige-volgende li a:after
{
	content:"";
	position: absolute;
	top: 18.5px;
	height:13px;
	width:8px;
}

ul#vorige-volgende li#right a:after
{
	right: 25px;
	background-image: url("../img/arrowRight.png");
	background-image: url('../img/arrowRight.svg'), none;
}

ul#vorige-volgende li#left a:after
{
	left: 25px;
	background-image: url("../img/arrowLeft.png");
	background-image: url('../img/arrowLeft.svg'), none;
}

#nav ul li h1
{
	margin:0;
	padding:0;
	font-size: 20px;
	color: #656565;
	line-height: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#nav ul li h1 span
{
	font-weight: bold;
}


#overlay
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity: 0.5;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
	background-color:#303030;
	z-index:11;
	display:block;
	cursor:pointer;
}

#sendConfirmation, #appreciateCon
{
	position:absolute;
	z-index:12;
	width:310px;
	top:50%;
	left:50%;
	margin-left:-155px;
	margin-top:-110.5px;
	background-color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	overflow:hidden;
	opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    display:none;
}

#sendConfirmation a#closeOverlay, #appreciateCon a#closeOverlay, #sentAppreciation a#closeOverlay
{
	position:absolute;
	top:0;
	right:0;
	height:25px;
	width:25px;
	background-color:#F3F3F3;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-moz-border-bottom-left-radius: 3px;
	-ms-border-top-right-radius: 10px;
	-ms-border-bottom-left-radius: 3px;
	background-image:url("../img/close.png");
	background-image: url('../img/close.svg'), none;
	background-repeat:no-repeat;
	background-size: 10px 10px;
	background-position: 7.5px 7.5px;
	text-indent: -9999px
}

#sendConfirmation #confirmationCon
{
	margin:0 auto;
	margin-top: 45px;
	width:270px;
}

#sendConfirmation #confirmationCon h1, #sendingProgress h1, #cardProgressCompleted h1, #sentAppreciation h1 
{
	text-align: center;
	color: #303030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin:0;
}

#sendConfirmation #confirmationCon p, #cardProgressCompleted p, #sentAppreciation p
{
	margin-top:15px;
	font-size: 14px;
	color:#656565;
	font-family: Arial, Helvetica, sans-serif;
	line-height:20px;
}

#sendConfirmation #confirmationCon p span
{
	font-weight: bold;
}

#sendConfirmation #confirmationCon ul, #appreciateCon #appreciateSec ul
{
	margin:0;
	padding:0;
	margin-top:25px;
	list-style-type: none;
	margin-bottom:30px;
	overflow: hidden;
}

#sendConfirmation #confirmationCon ul li, #appreciateCon #appreciateSec ul li
{
	float:left;
	width:117.5px;
	height:30px;
}

#sendConfirmation #confirmationCon ul li#cancel, #appreciateCon #appreciateSec ul li#cancel
{
	margin-left:25px;
}

#sendConfirmation #confirmationCon ul li#send, #appreciateCon #appreciateSec ul li#send
{
	background-color:#F24F11;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}

#appreciateCon #appreciateSec ul li#send a
{
	display:block;
}

#sendConfirmation #confirmationCon ul li a, #appreciateCon #appreciateSec ul li a
{
	line-height:28px;
	text-decoration: none;
	font-family: 'texgyreadventorregular';
}

#sendConfirmation #confirmationCon ul li#send a, #appreciateCon #appreciateSec ul li#send a
{
	color: #fff;
}

#sendConfirmation #confirmationCon ul li#cancel a, #appreciateCon #appreciateSec ul li#cancel a
{
	color: #656565;
}

#sendingProgress, #cardProgressCompleted, #sentAppreciation
{
	position:absolute;
	z-index:12;
	width:310px;
	top:50%;
	left:50%;
	margin-left:-155px;
	margin-top:-110.5px;
	background-color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	overflow:hidden;
	opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    height:135px;
}

 #sendingProgress h1, #cardProgressCompleted h1, #sentAppreciation h1
 {
 	margin-top:45px;
 }

 #sentAppreciation h1
 {
 	margin-top:30px;
 }

#progressBarSendCon
 {
 	margin:0 auto;
 	margin-top:15px;
	width:270px;
	background-color:#FAFAFA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	height:20px;
 }

#progressBarSendCon #progressBarSendSec
{
	width:0%;
	background-color:#F24F11;
	height:20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}
#cardProgressCompleted, #sentAppreciation
{
	height:auto;
}

#cardProgressCompleted p, #sentAppreciation p
{
	text-align: center;
	line-height: 0px
}

#sentAppreciation p
{
	margin-bottom:30px;
}

#cardProgressCompleted a
{
	background-color:#F24F11;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	color:#fff;
	height:30px;
	width:240px;
	margin:25px auto 0 auto;
	line-height:28px;
	display:block;
	margin-bottom:30px;
	text-decoration: none;
	font-family: 'texgyreadventorregular';
}

#nav ul li#right.appreciate
{
	width:auto;
}

#nav ul li#right.appreciate a
{
	width:auto;
	padding:0 30px;
}

ul#vorige-volgende li.appreciate a:after
{
	content:none;
}

#appreciateCon
{
	display: none;
	opacity: 0;
    -webkit-opacity:0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    width:70%;
    height:auto;
    margin:0;
    left:15%;
    top:50%;
    margin-top:-136px;
}

#appreciateSec
{
	margin:40px;
}

#appreciateSec h1
{
	color: #656565;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size:16px;
	margin-bottom:25px;
}

#appreciateSec h1 span
{
	font-weight: bold;
}

#appreciateSec textarea
{
	width: 100%;
	height: 150px;
	border: 1px solid #D9D9D9;
	resize: vertical;
	padding:10px;
	font-family: Arial, Helvetica, sans-serif;
	color:#656565;
	font-size: 16px;
	line-height:24px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#appreciateSec textarea:focus
{
	border: 1px solid #F24F11;
}

#appreciateCon #appreciateSec ul
{
	width:260px;
	margin-left:auto;
	margin-right:auto;
}

p.error
{
	font-family: Arial, Helvetica, sans-serif;
	color:#EF403E;
	font-size: 14px;
}