@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor-regular-webfont.woff2') format('woff2'),
         url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/* LOGIN */

:focus {
	outline: 0;
}

body{
	background-color: #f3f3f3;
	font-family: Arial, Helvetica, sans-serif;
}

p.error
{
	font-family: Arial, Helvetica, sans-serif;
	color:#EF403E;
	font-size: 14px;
}

#login-container{
	width: 350px;
	margin: 0 auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	top:50%;
	left:50%;
	margin-left:-175px;
	margin-top:-243px;
	position: absolute;
}

#login-header{
	background-color: #F24F11;
	padding: 30px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-ms-border-top-right-radius: 10px;
}

#login-header a
{
	width:155px;
	height:61px;
	display:block;
	text-indent: -9999px;
	background-image: url("../img/TM_logo.png");
	background-image: url('../img/TM_logo.svg'), none;
}

#login-logo{
	width: 40%;
	display: block;
	margin: 0 auto;
}

#login-content{
	padding: 40px 30px;
	background-color: white;
}

#login-content form{
	width: 270px;
	margin: 0 auto;
}

.login-input,
#indAdd input{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height:40px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border: 1px solid #D9D9D9;
	padding: 0px 0px 0px 35px;
	display: block;
	margin-bottom: 25px;
	width:235px;
	color: #656565;
	line-height:20px;
	line-height:40px\9;
}

form .unummer{
	background-image:url("../img/profile-icon.png");
	background-image: url('../img/profile-icon.svg'), none;
	background-repeat:no-repeat;
	background-position:10px;
	background-size: 17.5px;
}

form .wachtwoord{
	background-image:url("../img/lock-icon.png");
	background-image: url('../img/lock-icon.svg'), none;
	background-repeat:no-repeat;
	background-position:10px;
	background-size: 17.5px;
}

#checkCon
{
	margin-bottom:20px;
}

#checkCon input
{
	font-family: Arial, Helvetica, sans-serif;
	appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid #D9D9D9;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	display: inline-block;
	position: relative;
	cursor:pointer;
}

.login-input:focus,
#indAdd input[type=text]:focus
{
	border: 1px solid #F24F11;
}

#checkCon input:checked
{
	border: 1px solid #F24F11;
	background-color: #F24F11;
}

#checkCon input:checked:after
{
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 2.5px;
	left: 4px;
	color: #fff;
}

form label
{
	color: #656565;
	font-size: 16px;
	cursor:pointer;
	vertical-align: text-bottom;
}

.login-button,
#indAdd input[type=submit],
#bulkAdd input[type=submit]
{
	height:40px;
	margin-top: 15px;
	display: block;
	width: 100%;
	background-color: #F8F8F8;
	color:#D9D9D9;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height:20px;
	font-family: 'texgyreadventorregular';
}

.login-button.active,
#indAdd input#iAAdd.active,
#bulkAdd input[type=submit].active,
#indAdd #iAEdit
{
	background-color:#F24F11;
	color:#fff;
}

#login-footer{
	height:30px;
	background-color: #E9EFF0;
	text-align: center;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#login-footer a{
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	font-size: 12px;
	line-height:30px;
	display: block;
	text-decoration: none;
}

#login-footer a:hover{
	text-decoration: underline;
}

.login-check{
	margin-right: 10px;
}

p#login-copyright{
	margin-top:7.5px;
}

p#login-copyright,
#login-copyright a{
	color: #999;
	font-size: 10px;
}

/* -------------------------------------- */
/*General*/
#preCon
{
	margin: 0 auto;
	width: 800px;
	margin-top: 50px;
}

#container{
	background-color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	position:relative;
}

header{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-ms-border-top-right-radius: 10px;
	padding-bottom: 35px;
	height:135px;
}

#logo
{
	background-color: #F24F11;
	height: 75px;
	overflow:hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-ms-border-top-left-radius: 10px;
	-ms-border-top-right-radius: 10px;
}

#afmelden{
	position:absolute;
	top:0;
	right:0;
	color: white;
	background-color: #da470f;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-moz-border-bottom-left-radius: 3px;
	-ms-border-top-right-radius: 10px;
	-ms-border-bottom-left-radius: 3px;
	font-size: 14px;
	text-decoration: none;
	padding: 1.5px 15.5px;
	font-family: 'texgyreadventorregular';
}

#afmelden a{
	display: block;
}

#logo a
{
	width:95px;
	height:37.023px;
	display:block;
	text-indent: -9999px;
	margin-top: 18.9885px;
	background-image: url("../img/TM_logo.png");
	background-image: url('../img/TM_logo.svg'), none;
	background-image: url("../img/TM_logo_ie.png")\9;
	background-image: url('../img/TM_logo_ie.svg'), none\9;
}

header nav{
	height:59px;
	overflow:hidden;
	border-bottom: 1px solid #FAFAFA;
}

header nav ul{
	width: 100%;
	padding:0;
	margin:0;
	list-style-type: none;
}

body header nav ul li{
	list-style-type: none;
	width: 199px;
	height: 59px;
	float: left;
	background-color: #fff;
	color: #dddbdb;
	overflow:hidden;
	border-left: 1px solid #FAFAFA;
}

header nav ul:first-child
{
	border-left:none;
}

header nav ul li h1
{
	text-decoration: none;
	color:#D9D9D9;
	display: block;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top:17.5px;
	margin-left:30px;
	font-weight: normal;
}

header nav ul li h1 span
{
	border: 1px solid #D9D9D9;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%; 
	height:25px;
	width:25px;
	display:inline-block;
	text-align: center;
	line-height:25px;
	margin-right:7.5px;
}

.stap1 header nav ul li#liStap1,
.stap2 header nav ul li#liStap2,
.stap3 header nav ul li#liStap3,
.stap4 header nav ul li#liStap4
{
	border:none;
	background-color:#FAFAFA;
}

.stap1 header nav ul li#liStap1 h1,
.stap2 header nav ul li#liStap2 h1,
.stap3 header nav ul li#liStap3 h1,
.stap4 header nav ul li#liStap4 h1
{
	color: #656565;
}

.stap1 header nav ul li#liStap1 h1 span,
.stap2 header nav ul li#liStap2 h1 span,
.stap3 header nav ul li#liStap3 h1 span,
.stap4 header nav ul li#liStap4 h1 span
{
	border: 1px solid #656565;
}

footer
{
	margin-top:7.5px;
}

/*STEP 1*/
#container #content
{
	width: 740px;
	margin:0 auto;
	overflow:hidden;
}

#stap1-col1, 
#stap1-col2{
	float:left;

}

#stap1-col1
{
	width:450px;
}

#stap1-col2
{
	margin-left:40px;
	width:250px;
}

#stap1-col1 h1,
#stap1-col2 h1,
.stap2 #content h1,
.stap3 #content h1
{
	font-size: 16px;
	color:#303030;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin:0;
	margin-bottom:15px;
}

#stap1-col2 p
{
	font-size: 14px;
	color:#656565;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 20px;
	margin-top:0px;
}

ul#otherCards
{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
}

ul#otherCards li.card
{
	cursor:pointer;
	float:left;
	width:115px;
	margin-bottom:20px;
	height:61.333px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}

ul#otherCards li.card.chose
{
	border: 3px solid #F24F11;
	width:109px;
	height:55.333px;
	overflow:hidden;
	border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
	-moz-border-radius: 7.5px;
	-ms-border-radius: 7.5px;
}

ul#otherCards li.card:nth-child(even)
{
	margin-left:20px;
}

ul#otherCards li.card img
{
	width:100%;
	height:auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}

#stap1-col1 .stap1-choosen
{
	width:100%;
	height:240px;
	background-color:#FAFAFA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	display:block;
}

#stap1-col1 .stap1-choosen img
{
	width:100%;
	height:auto;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}

ul#vorige-volgende
{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	margin-top:40px;
	margin-bottom:40px;
	list-style-type: none;
}

ul#vorige-volgende li
{
	float:left;
	height:30px;
	width:165px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px; 
	background-color: #F24F11;
}

body.stap2 ul#vorige-volgende li#right,
body.stap3 ul#vorige-volgende li#right
{
	margin-left:410px;
	float:left;
}

body.stap1 ul#vorige-volgende li#right
{
	float:right;
	margin-left:0px;
}

ul#vorige-volgende li a
{
	display:block;
	font-family: 'texgyreadventorregular';
	line-height: 28px;
	text-decoration: none;
	color:#fff;
	font-size: 16px;
	text-align: center;
	position:relative;
}

ul#vorige-volgende li a:after
{
	content:"";
	position: absolute;
	top: 8.5px;
	height:13px;
	width:8px;
}

ul#vorige-volgende li#right a:after
{
	right: 10px;
	background-image: url("../img/arrowRight.png");
	background-image: url('../img/arrowRight.svg'), none;
}

ul#vorige-volgende li#left a:after
{
	left: 10px;
	background-image: url("../img/arrowLeft.png");
	background-image: url('../img/arrowLeft.svg'), none;
}

/*STEP 2*/
.stap2-persoonlijkbericht{
	width: 718px;
	height: 150px;
	border: 1px solid #D9D9D9;
	resize: vertical;
	padding:10px;
	font-family: Arial, Helvetica, sans-serif;
	color:#656565;
	font-size: 16px;
	line-height:24px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}

.stap2-persoonlijkbericht:focus
{
	border: 1px solid #F24F11;
}

p.stap2-characters{
	margin:0;
	margin-top:10px;
	color: #656565;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
}

p.stap2-characters span{
	font-weight: bold;
}

/*STEP 3*/
#stap3-buttons{
	overflow:hidden;
}

a#downloadcsv
{
	position:absolute;
	top:150px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #656565;
}

a#downloadcsv:hover
{
	text-decoration: underline;
}

#stap3-buttons ul
{
	list-style-type: none;
	padding:0;
	margin:0;
	overflow:hidden;
	float:left;
}

#stap3-buttons li
{
	height:30px;
	width:94px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px; 
	background-color: #F24F11;
	text-align: center;
	float:left;
	margin-left: 30px;
}

#stap3-buttons li.firstItem
{
	margin-left:0px;
}

ul#emailaanpassen
{
	margin-left:80px;
}

#stap3-buttons li.addEmail
{
	width:0px;
	padding: 0 10px;
}

#stap3-buttons li a.button-email
{
	display:block;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	line-height:30px;
	font-family: 'texgyreadventorregular';
}

#stap3-buttons li.addEmail
{
	display:inline-block;
	width:auto;
	padding: 0 10px;
}

#stap3-buttons ul#emailaanpassen li
{
	background-color: #F8F8F8;
}

#stap3-buttons ul#emailaanpassen li a
{
	color:#D9D9D9;
}

#stap3-buttons ul#emailaanpassen li.active
{
	background-color: #F24F11;
}

#stap3-buttons ul#emailaanpassen li.active a
{
	color:#fff;
}

#stap3-table{
	clear: both;
	width: 738px;
	display: block;
	margin-top: 20px;
	border-left: 1px solid #FAFAFA;
	border-right: 1px solid #FAFAFA;
	border-bottom: 1px solid #FAFAFA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	min-height:150px;
}

#stap3-table th{
	background-color: #FAFAFA;
	font-weight: normal;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	height:35px;
	line-height:35px;
	padding-left:10px;
}

#stap3-table th,
#stap3-table td
{
	width:175px;
	height:35px;
	color: #656565;
	line-height:35px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	padding-left:10px;
	margin-bottom:1px;
}

#stap3-table th
{
	color: #303030;
	border:none\9;
}

#stap3-table th.checkItem,
#stap3-table td.checkItem
{
	width:30px;
}

#stap3-table th:last-child,
#stap3-table td:last-child
{
	width:360px;
}

#stap3-table tr:nth-child(even)
{
	background: #FFF;
}

#stap3-table tr:nth-child(odd)
{
	background: #FDFDFD;
}

#stap3-table tr.chose
{
	background: #FAFAFA;
}

.checkItem input
{
	font-family: Arial, Helvetica, sans-serif;
	appearance: none;
	-webkit-appearance: none;
	-mos-appearance: none;
	-ms-appearance: none;
	border: 1px solid #D9D9D9;
	padding: 7.5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	display: inline-block;
	position: relative;
	cursor:pointer;
	top:4px;
	border:none\9;
	top:1px\9;
}

th.checkItem input
{
	border: 1px solid #D9D9D9;
	border:none\9;
}

.checkItem input:checked
{
	border: 1px solid #F24F11;
	background-color: #F24F11;
	border:none\9;
	background-color:transparent\9;
}

.checkItem input:checked:after
{
	content: '\2714';
	font-size: 12px;
	position: absolute;
	top: -1px;
	left: 3px;
	color: #fff;
}

#overlay
{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity: 0.5;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -ms-opacity: 0.5;
	background-color:#303030;
	z-index:11;
	display:none;
	cursor:pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}

/*overlay add individual email*/
#indAdd,
#bulkAdd
{
	position:absolute;
	z-index:12;
	width:310px;
	top:50%;
	left:50%;
	margin-left:-155px;
	margin-top:-135.5px;
	background-color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	overflow:hidden;
	opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
}

#indAdd form,
#bulkAdd form
{
	width:250px;
	margin: 40px auto;
}

#indAdd input,
#bulkAdd input
{
	padding: 0 20px;
	width:210px;
	margin-bottom:25px;
}

#indAdd label
{
	display:none;
	display:block\9;
	*display:block;
	_display:block;
	margin-bottom:3.5px\9;
	*margin-bottom:3.5px;
	_margin-bottom:3.5px;
}

#bulkAdd input[type=file]
{
	margin-bottom: 0px;
}

#indAdd input[type=submit],
#bulkAdd input[type=submit]
{
	margin-bottom:0;
}

#indAdd a#closeOverlay,
#bulkAdd a#closeOverlay
{
	position:absolute;
	top:0;
	right:0;
	height:25px;
	width:25px;
	background-color:#F3F3F3;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-moz-border-bottom-left-radius: 3px;
	-ms-border-top-right-radius: 10px;
	-ms-border-bottom-left-radius: 3px;
	background-image:url("../img/close.png");
	background-image: url('../img/close.svg'), none;
	background-repeat:no-repeat;
	background-size: 10px 10px;
	background-position: 7.5px 7.5px;
	text-indent: -9999px
}

#bulkAdd
{
	display: block;
	opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    margin-top:-67.5px;
    margin-left:-155px;
}

#bulkAdd #fileCon
{
	height:24px;
	margin-top: 15px;
	display: block;
	width: 100%;
	background-color:#F24F11;
	color:#fff;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	line-height:20px;
	font-family: 'texgyreadventorregular';
}

#bulkAdd input[type=submit]
{
	margin-top:25px;
}

#fileCon
{
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.fileInput
{
    height: 30px;
    position:absolute;
    top: 0;
    right: 0;
    font-size:16px;
    margin:0;
    height: 100%;
	width: 100%;
	padding: 0;
	cursor: pointer;
}

.hidden
{
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    cursor: pointer;
}

#bulkAdd h2
{
	color: #656565;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: normal;
	margin:0;
	float:left;
}

#UpProgress
{
	margin-top:25px;
}

#UpProgress #bar
{
	margin-top:2.5px;
	width:100%;
	background-color:#FAFAFA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	height:20px;
}

#UpProgress #bar #progress
{
	width:0%;
	background-color:#F24F11;
	height:20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}

#fileName
{
	width:100%;
	display:inline-block;
}


a#deleteFile
{
	float:right;
	background-image:url("../img/close.png");
	background-image: url('../img/close.svg'), none;
	background-repeat: no-repeat;
	margin-top:4px;
	display:block;
	width:10px;
	height:10px;
	text-indent: -9999px
}