@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor-regular-webfont.woff2') format('woff2'),
         url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:focus
{
	outline: 0;
}

.demp_muziek:link,
.demp_muziek:visited,
.demp_muziek:hover,
.demp_muziek:active
{
	width: 20px;
	height: 20px;
	color:#fff;
	text-align: center;
	display: block;
	margin:5px auto;
}

.demp_muziek img{
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	background-color:#F24F11;
	width: 20px;
	height: 20px;
	padding: 10px;

}

html, body 
{
	min-height:100%; 
	padding:0; margin:0; 
	background-color:#F3F3F3; 
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
    -o-user-select: none;
}

#container {position:absolute; top:0; bottom:0; left:0; right:0;}

.flipbox-container 
{
	cursor:-webkit-grab;
	cursor:-moz-grab;
	cursor:-ms-grab;
	cursor:-o-grab;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	max-width:956px;
	max-height:530px;
	z-index: -999;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

#cardCon, #backCon
{
	background-color: #FDFDFD;
	height: 100%;
	width:100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	overflow:hidden;
}

#cardCon
{
	background: no-repeat center center fixed;
	background-position: 50% 50%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#cardCon video
{
	width: 100%    !important;
 	height: auto   !important;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
}

#cardCon:active, .flipbox-container:active
{
	cursor:-webkit-grabbing;
}

#backCon
{
	margin-bottom: 25px;
	overflow:auto;
	margin-left: auto;
	margin-right: auto;
}

#cardConSec, video figure
{
	background-repeat: no-repeat; 
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	cursor:-webkit-grab;
	cursor:-moz-grab;
	cursor:-ms-grab;
	cursor:-o-grab;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	height:530px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

video figure
{
	background: no-repeat center center fixed\0/;
}

#backSec
{
	padding:50px;
	padding-bottom:75px;
}

#backCon h1, #backCon p,  #backCon span
{
	margin:0;
	padding:0;
	color: #656565;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#backCon h1
{
	margin-bottom:40px;
}

#backCon p
{
	line-height:22px;
}

p#senderSig
{
 margin-top:50px;
}

#backCon #copyCon
{
	
	background-color:#FDFDFD;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
}

#copyCon
{
	padding: 0 50px;
}

#backCon span#copy
{
	font-size:11px;
	text-decoration: none;
	color:#999999;
	text-align: center;
	
}

#backCon span#copy a
{
	text-decoration: none;
	color:#999999;
}

#backCon span#copy a:hover
{
	text-decoration: underline;
}

#nav 
{
	box-shadow: none;
	border:none;
	color:#fff;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	display:block;
	font-family: 'texgyreadventorregular';
	margin:0 auto;
	position:relative;
	left:0;
	height:50px;
	width:100%;
}

#nav h1
{
	margin:0;
	padding:0;
	height:50px;
	color: #0096a9;
	text-align:center;
	line-height: 30px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#nav h1 span,
h1 a#clickHinter
{
	font-weight: bold;
	color: #F24F11;
}

/*404-*/

#frozen
{
	padding-top: 10%;
	padding-bottom: 10%;
	width: 50%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #303030;
	font-size: 8px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;  /*16:9*/
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
}

.noBGaudio{
	display: none;
}

#frozen a:link,
#frozen a:visited,
#frozen a:hover,
#frozen a:active
{
	padding: 8px 20px 8px 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF4E00;
	text-decoration: none;
	color: white;
	border-radius: 4px;
	font-size: 12px;
	display: block;
	margin-top: 10px;
	max-width: 120px;
}

#frozen a:hover
{
	background-color: #d40;
}

#audioCon
{
	position:absolute;
	z-index: 11;
	width:100%;
	display: none;
	display:none\9;;
}


@media screen and (min-width: 700px)
{

	.flipbox-container 
	{
		margin-top: 35px;
		margin-bottom: 25px;
	}
	
	#cardConSec, video figure
	{
		height: 530px;
	}

	#backCon h1, #backCon p,  #backCon span
	{
		font-size: 22.5px;
	}

	#backCon{
		margin-top: 50px;
	}

	#backCon p
	{
		line-height:35px;
	}

	#backCon span#copy
	{
		font-size: 14px;
		
	}

	#copyCon
	{
		padding: 0 50px;
	}

	#frozen{
		font-size: 15px;
	}

	#frozen a:link,
	#frozen a:visited,
	#frozen a:hover,
	#frozen a:active
	{
		font-size: 20px;
		margin-top: 5px;
		max-width: 160px;
	}

	

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1100px) {
	#audioCon
	{
		display: inline-block;
	}
}