#kadokes
{
  z-index: 2;
  position: absolute;
}

@-webkit-keyframes snow{
  100% { top: 700px; -webkit-transform: rotate(2.2turn); }
  }
@-o-keyframes snow{
  100% { top: 700px; -o-transform: rotate(2.2turn); }
  }
@-ms-keyframes snow{
  100% { top: 700px; -ms-transform: rotate(2.2turn); }
  }
@-moz-keyframes snow{
  100% { top: 700px; -moz-transform: rotate(2.2turn); }
  }
@keyframes snow{
  100% { top: 700px; transform: rotate(2.2turn); }
  }
@-webkit-keyframes drift{
  0% { left: -5px; }
  25% { left: 55px; }
  55% { left: -15px; }
  100% { left: 0px;   }
  }
@-o-keyframes drift{
  0% { left: -5px; }
  25% { left: 55px; }
  55% { left: -15px; }
  100% { left: 0px; }
  }
@-ms-keyframes drift{
  0% { left: -5px; }
  25% { left: 55px; }
  55% { left: -15px; }
  100% { left: 0px; }
  }
@-moz-keyframes drift{
  0% { left: -5px; }
  25% { left: 55px; }
  55% { left: -15px; }
  100% { left: 0px; }
  }
@keyframes drift{
  0% { left: -5px; }
  25% { left: 55px; }
  55% { left: -15px; }
  100% { left: 0px; }
  }
html{
  min-height: 100%;
  }
body{
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#b5d3ff), to(#30509a));
  background: -moz-linear-gradient(top, #b5d3ff 0%, #30509a 100%);
  background: -o-linear-gradient(top, #b5d3ff 0%, #30509a 100%);
  background: linear-gradient(top, #b5d3ff 0%, #30509a 100%);
  }
img.flake {
  width: 150px;
  height: 150px;
  position: relative;
  -webkit-animation: snow 8s linear infinite forwards,drift 12s ease-in-out forwards infinite;
  -moz-animation: snow 8s linear infinite forwards,drift 12s ease-in-out forwards infinite;
  -ms-animation: snow 8s linear infinite forwards,drift 12s ease-in-out forwards infinite;
  -o-animation: snow 8s linear infinite forwards,drift 12s ease-in-out forwards infinite;
  animation: snow 8s linear infinite forwards,drift 12s ease-in-out forwards infinite;
  }
img.slow {
  -webkit-animation: snow 12s linear infinite forwards,drift 18s ease-in-out forwards infinite;
  -moz-animation: snow 12s linear infinite forwards,drift 184s ease-in-out forwards infinite;
  -o-animation: snow 12s linear infinite forwards,drift 18s ease-in-out forwards infinite;
  animation: snow 12s linear infinite forwards,drift 18s ease-in-out forwards infinite;
  }